@model IEnumerable<AspNetIdentity.Models.HvDatosBasicosModel>

@{
    ViewBag.Title = "Index";
}
@section Scripts
             {
    @Scripts.Render("~/bundles/jqueryval")   @Scripts.Render("~/Scripts/ModalControl.js")

    @*<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>*@

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>


    <script>
        function ImagenDecode(IMAGE_NAME) {
            var decodedData = window.atob(IMAGE_NAME);
            //$("#DivImageName").html("<img class='text - center img - responsive center - block' src='" + decodedData + "' /><hr />");
            return decodedData;
        }
        $(document).ready(function () {
            $('#table').DataTable();
           

        });

    </script>
}
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">Datos Basicos</h3>
        <p class="card-text">Hoja de Vida / Datos Basicos</p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                @*<a href="#" onclick="Ejecutar ('','HvDatosBasicos','Crear'); return false;">Crear Datos Personales</a>*@
                @Html.ActionLink("Crear", "Crear")
            </div>
            <div class="card-body">
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>

                            <th>
                                LUGAR DE NACIMIENTO
                            </th>

                            <th>
                                ESTADO CIVIL
                            </th>

                            <th>
                                NOMBRE Y APELLIDOS
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IDENTIFICACION)
                            </th>
                            <th>
                                F/ NACIMIENTO
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NOMBRE_GENERO)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NOMBRE_PERFIL)
                            </th>

                            <th></th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_PAIS) <br />   @Html.DisplayFor(modelItem => item.NOMBRE_DEPTO) <br />  @Html.DisplayFor(modelItem => item.NOMBRE_CIUDAD)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_ESTADO_CIVIL)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRES)  @Html.DisplayFor(modelItem => item.APELLIDOS)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_TIPO_IDENTIFICACION) | @Html.DisplayFor(modelItem => item.IDENTIFICACION)
                            </td>
                            <td>

                                @Convert.ToDateTime(item.F_NACIMIENTO).ToString("dd/MM/yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_GENERO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NOMBRE_PERFIL)
                            </td>
                            <td class="text-center">
                                <script> var img = window.atob('@item.IMAGE_NAME');
                                    document.write('<img src="'+img+'" width="50%"/>');
                                </script>
                            </td>

                            <td>
                                <a href="@Url.Action("../HvDatosBasicos/Edit", "Edit" , new { IdTable = item.ID_DATOS_BASICOS } )" title="Modificar" style="color: #013ADF;"><i class="fa fa-refresh" aria-hidden="true"></i></a>
                                |
                                <a href="@Url.Action("../HvDatosBasicos/Detail", "Detail" , new { IdTable = item.ID_DATOS_BASICOS } )" title="Detalle" style="color: #013ADF;"><i class="fa fa-search" aria-hidden="true"></i></a>
                                |<a href="@Url.Action("../HvDatosBasicos/Delete", "Delete" , new { IdTable = item.ID_DATOS_BASICOS } )" title="Borra" style="color: #013ADF;"><i class="fa fa-trash" aria-hidden="true"></i></a>

                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="centralModalLGInfoDemo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Modal Info</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal" onclick="location.reload()">Cerrar</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal: modalCart -->
