<!DOCTYPE html>

<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    @Styles.Render("~/Content/cssLogin")
    <!--===============================================================================================-->
    <style type="text/css">
        #idLogin {
            background-image: url(http://sit.agenciadetierras.gov.co/web/Content/Images/bg-login-lg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body id="">
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jqueryLogin")
    @RenderSection("scripts", required: false)

</body>
</html>
