@model AspNetIdentity.Models.HvCtCiudadModel

@{
    ViewBag.Title = "Edit";
}
<script type="text/javascript" src="~/Scripts/ModalControl.js"></script>

                @using (Html.BeginForm("Edit", "HvCtCiudad", FormMethod.Post, htmlAttributes: new { id = "car-form", @name = "car-form" }))

                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ID_CT_CIUDAD, new { htmlAttributes = new { @class = "form-control", @style = "display : none" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_CT_PAIS, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @*@Html.DropDownList("ID_CT_PAIS", ViewData["ID_CT_PAIS"] as IEnumerable<SelectListItem>)*@
                                @Html.DropDownList("ID_CT_PAIS", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_CT_PAIS, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_CT_DEPTO, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @*@Html.DropDownList("ID_CT_DEPTO", ViewData["ID_CT_DEPTO"] as IEnumerable<SelectListItem>)*@
                                @Html.DropDownList("ID_CT_DEPTO", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ID_CT_DEPTO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NOMBRE, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">

                                <a id="btn-sendForm" href="#" class="btn btn-primary" onclick="Redir('EditJson', 'HvCtCiudad')">Enviar</a>
                                <div id="respuesta"> </div>
                                @Html.EditorFor(model => model.NOMBRE_DEPTO, new { htmlAttributes = new { @class = "form-control", @Style = "display:none", @Value = "ok" } })
                                @Html.EditorFor(model => model.NOMBRE_PAIS, new { htmlAttributes = new { @class = "form-control", @Style = "display:none", @Value = "ok" } })
                            </div>
                        </div>
                    </div>
                }

                <div>

                </div>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")   @Scripts.Render("~/Scripts/ModalControl.js")

                }
          
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("ListPais")', // we are calling json method
                dataType: 'json',
                success: function(states) {

                    $.each(states, function (i, state) {
                        if ('@Model.ID_CT_PAIS' == state.Value) {
                            $("#ID_CT_PAIS").append('<option value="' + state.Value + '" selected>' + state.Text + '</option>');
                        } else {
                            $("#ID_CT_PAIS").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                        }
                    });

                },
                error: function (ex) {
                    console.log(ex.responseText);
                }
        });
         $.ajax({
                type: 'POST',
                url: '@Url.Action("ListDepto")', // we are calling json method
                dataType: 'json',
                success: function(states) {
                    $.each(states, function (i, state) {
                        if ('@Model.ID_CT_DEPTO' == state.Value) {
                            $("#ID_CT_DEPTO").append('<option value="' + state.Value + '" selected>' + state.Text + '</option>');
                        } else {
                            $("#ID_CT_DEPTO").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                        }
                    });

                },
                error: function (ex) {
                    console.log(ex.responseText);
                }
            });
        $("#ID_CT_PAIS").change(function () {
            $("#ID_CT_DEPTO").empty();
            alert("okdepto" + $("#ID_CT_PAIS").val());
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ListDeptoId")', // we are calling json method
                dataType: 'json',
                data: { IdP: $("#ID_CT_PAIS").val() },
                    success: function(states) {
                        //alert("okdepto");
                        $.each(states, function (i, state) {
                        if ('@Model.ID_CT_PAIS' == state.Value) {
                            $("#ID_CT_DEPTO").append('<option value="' + state.Value + '" selected>' + state.Text + '</option>');
                        } else {
                            $("#ID_CT_DEPTO").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                        }


                        });
                    },
                error: function (ex) {
                    console.log(ex.responseText);
                }
            });
            return false;
        });
        console.log("ready!");
    });
</script>