@model AspNetIdentity.Models.CaracterizacionJuridicaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>CaracterizacionJuridicaModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdExpediente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdExpediente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INSPECCION_OCULAR_INSPECCION_OCULAR_53)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INSPECCION_OCULAR_INSPECCION_OCULAR_53)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INSPECCION_OCULAR_FECHA_54)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INSPECCION_OCULAR_FECHA_54)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INSPECCION_OCULAR_FIRMA_55)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INSPECCION_OCULAR_FIRMA_55)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INSPECCION_OCULAR_OPOSICIONES_56)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INSPECCION_OCULAR_OPOSICIONES_56)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INSPECCION_OCULAR_CONCEPTO_57)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INSPECCION_OCULAR_CONCEPTO_57)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreINSPECCION_OCULAR_CONCEPTO_57)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreINSPECCION_OCULAR_CONCEPTO_57)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_ACLARACION_DE_INSPECCION_OCULAR_58)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_ACLARACION_DE_INSPECCION_OCULAR_58)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FECHA_59)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FECHA_59)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FIRMA_60)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FIRMA_60)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_CONCEPTO_61)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_CONCEPTO_61)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreACLARACION_DE_INSPECCION_OCULAR_CONCEPTO_61)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreACLARACION_DE_INSPECCION_OCULAR_CONCEPTO_61)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_PUBLICACION_EN_EMISORA_62)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_PUBLICACION_EN_EMISORA_62)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FIRMA_DE_PUBLICACION_63)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ACLARACION_DE_INSPECCION_OCULAR_FIRMA_DE_PUBLICACION_63)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FIJACION_EN_LISTA_FIJACION_EN_LISTA_64)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIJACION_EN_LISTA_FIJACION_EN_LISTA_64)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FIJACION_EN_LISTA_FECHA_DE_FIJACION_65)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIJACION_EN_LISTA_FECHA_DE_FIJACION_65)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FIJACION_EN_LISTA_FECHA_DE_DESFIJACION_66)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIJACION_EN_LISTA_FECHA_DE_DESFIJACION_66)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FIJACION_EN_LISTA_FIRMA_67)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FIJACION_EN_LISTA_FIRMA_67)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OPOCISIONES_OPOCISIONES_68)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OPOCISIONES_OPOCISIONES_68)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.OPOCISIONES_FECHA_69)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.OPOCISIONES_FECHA_69)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FORMATO_DE_REVISION_JURIDICA_FORMATO_DE_REVISION_JURIDICA_70)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FORMATO_DE_REVISION_JURIDICA_FORMATO_DE_REVISION_JURIDICA_70)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FORMATO_DE_REVISION_JURIDICA_FECHA_71)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FORMATO_DE_REVISION_JURIDICA_FECHA_71)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FORMATO_DE_REVISION_JURIDICA_FIRMADA_72)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FORMATO_DE_REVISION_JURIDICA_FIRMADA_72)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FORMATO_DE_REVISION_JURIDICA_CONCEPTO_73)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FORMATO_DE_REVISION_JURIDICA_CONCEPTO_73)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreFORMATO_DE_REVISION_JURIDICA_CONCEPTO_73)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreFORMATO_DE_REVISION_JURIDICA_CONCEPTO_73)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_RESOLUCION_74)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_RESOLUCION_74)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_NUMERO_DE_RESOLUCION_75)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_NUMERO_DE_RESOLUCION_75)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_FECHA_DE_RESOLUCION_76)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_FECHA_DE_RESOLUCION_76)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_FIRMADA_77)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_FIRMADA_77)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_DECISION_78)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_DECISION_78)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRESOLUCION_DECISION_78)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRESOLUCION_DECISION_78)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_AREA_ADJUDICADA_metros_cuadrados_79)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_AREA_ADJUDICADA_metros_cuadrados_79)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RESOLUCION_CONJUNTA_INDIVIDUAL_80)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RESOLUCION_CONJUNTA_INDIVIDUAL_80)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRESOLUCION_CONJUNTA_INDIVIDUAL_80)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRESOLUCION_CONJUNTA_INDIVIDUAL_80)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOTIFICACION_NOTIFICACION_SOLICITANTES_81)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOTIFICACION_NOTIFICACION_SOLICITANTES_81)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOTIFICACION_FECHA_DE_NOTIFICACION_SOLICITANTES_82)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOTIFICACION_FECHA_DE_NOTIFICACION_SOLICITANTES_82)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOTIFICACION_NOTIFICACION_MINISTERIO_PUBLICO_83)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOTIFICACION_NOTIFICACION_MINISTERIO_PUBLICO_83)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NOTIFICACION_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_84)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NOTIFICACION_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_84)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_RECURSO_SOLICITANTE_85)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_RECURSO_SOLICITANTE_85)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_SOLICITUD_86)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_SOLICITUD_86)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_RESPUESTA_RECURSO_87)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_RESPUESTA_RECURSO_87)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_FIRMADA_88)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_FIRMADA_88)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_ACTO_89)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_ACTO_89)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRECURSO_SOLICITANTE_ACTO_89)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRECURSO_SOLICITANTE_ACTO_89)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_NUMERO_90)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_NUMERO_90)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_FECHA_91)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_FECHA_91)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_DECISION_SOBRE_LA_ADJUDICAICON_92)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_DECISION_SOBRE_LA_ADJUDICAICON_92)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRECURSO_SOLICITANTE_DECISION_SOBRE_LA_ADJUDICAICON_92)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRECURSO_SOLICITANTE_DECISION_SOBRE_LA_ADJUDICAICON_92)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_NOTIFICACION_SOLICITANTES_93)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_NOTIFICACION_SOLICITANTES_93)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_NOTIFICACION_SOLICITANTES_94)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_NOTIFICACION_SOLICITANTES_94)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_NOTIFICACION_MINISTERIO_PUBLICO_95)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_NOTIFICACION_MINISTERIO_PUBLICO_95)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_96)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_SOLICITANTE_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_96)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_RECURSO_MINISTERIO_97)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_RECURSO_MINISTERIO_97)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_FECHA_DE_SOLICITUD_98)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_FECHA_DE_SOLICITUD_98)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_RESPUESTA_RECURSO_99)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_RESPUESTA_RECURSO_99)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_FIRMADA_100)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_FIRMADA_100)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_ACTO_101)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_ACTO_101)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRECURSO_MINISTERIO_ACTO_101)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRECURSO_MINISTERIO_ACTO_101)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_NUMERO_102)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_NUMERO_102)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_FECHA_103)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_FECHA_103)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_DECISION_SOBRE_LA_ADJUDICAICON_104)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_DECISION_SOBRE_LA_ADJUDICAICON_104)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreRECURSO_MINISTERIO_DECISION_SOBRE_LA_ADJUDICAICON_104)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreRECURSO_MINISTERIO_DECISION_SOBRE_LA_ADJUDICAICON_104)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_NOTIFICACION_SOLICITANTES_105)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_NOTIFICACION_SOLICITANTES_105)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_FECHA_DE_NOTIFICACION_SOLICITANTES_106)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_FECHA_DE_NOTIFICACION_SOLICITANTES_106)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_NOTIFICACION_MINISTERIO_PUBLICO_107)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_NOTIFICACION_MINISTERIO_PUBLICO_107)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RECURSO_MINISTERIO_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_108)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RECURSO_MINISTERIO_FECHA_DE_NOTIFICACION_MINISTERIO_PUBLICO_108)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CONSTANCIA_DE_EJECUTORIA_CONSTANCIA_DE_EJECUTOIA_109)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CONSTANCIA_DE_EJECUTORIA_CONSTANCIA_DE_EJECUTOIA_109)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CONSTANCIA_DE_EJECUTORIA_FECHA_CONSTANCIA_EJECUTORIA_110)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CONSTANCIA_DE_EJECUTORIA_FECHA_CONSTANCIA_EJECUTORIA_110)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CONSTANCIA_DE_EJECUTORIA_FIRMADA_111)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CONSTANCIA_DE_EJECUTORIA_FIRMADA_111)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CONSTANCIA_DE_EJECUTORIA_LA_FECHA_ES_CORRECTA_112)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CONSTANCIA_DE_EJECUTORIA_LA_FECHA_ES_CORRECTA_112)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REVOCATORIA_REVOCATORIA_113)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REVOCATORIA_REVOCATORIA_113)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REVOCATORIA_NUMERO_RESOLUCIÓN_114)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REVOCATORIA_NUMERO_RESOLUCIÓN_114)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REVOCATORIA_FECHA_DE_RESOLUCIÓN_115)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REVOCATORIA_FECHA_DE_RESOLUCIÓN_115)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REGISTRO_FMI_116)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REGISTRO_FMI_116)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REGISTRO_FECHA_DE_REGISTRO_117)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REGISTRO_FECHA_DE_REGISTRO_117)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REGISTRO_NUMERO_DE_RESOLUCION_118)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REGISTRO_NUMERO_DE_RESOLUCION_118)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.REGISTRO_FECHA_DE_RESOLUCION_119)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.REGISTRO_FECHA_DE_RESOLUCION_119)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdAspNetUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdAspNetUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreIdAspNetUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreIdAspNetUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaModificacion)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
