@model IEnumerable<AspNetIdentity.WebClientAdmin.Models.UsersModel>

<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Usuarios</span>
        </h4>
        <div class="d-flex justify-content-center">
            <a class="btn btn-success my-0 p waves-effect waves-light" href="@Url.Action("Create", "Assessments")"><i class="fa fa-id-card"></i> Nuevo </a>
        </div>
    </div>

</div>
<!-- Heading -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive text-nowrap">
                    <table id="dtBasicExample" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.Name)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.FirstName)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.LastName)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.Email)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.NameRole)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.CreationDate)</th>
                                <th class="th-sm">@Html.DisplayNameFor(model => model.Active)</th>
                                <th class="th-sm">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.NameRole)</td>
                                <td>@Html.DisplayFor(modelItem => item.CreationDate, templateName: "{0:dd-MMM-yyyy}")</td>
                                <td>@Html.DisplayFor(modelItem => item.Active)</td>
                                <td>
                                    <a href="javascript:void(0);" data-id="@item.Id_User" class="blue-text modalUser" data-toggle="modal" data-placement="top" title="Editar" data-target="#centralModal"><i class="fa fa-pencil"></i></a> |
                                    <a href="@Url.Action("Delete", "Users", new { Id = item.Id_User })" class="red-text" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-times"></i></a> |
                                    <a href='@Url.Action("../HvDatosBasicos/EditPersona", "Edit", new { Id = item.Id_User })' class="red-text" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Central Modal -->
<div class="modal fade" id="centralModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<!-- Central Modal -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('.modalUser').click(function () {

                debugger;

                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };

                $.ajax({
                    type: "GET",
                    url: '/Users/UserModal',
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });
    </script>
}
