@model AspNetIdentity.Models.ConceptoMvcModel


<style>
    .col-sm-12 {
        margin: 1% auto;
    }
</style>
<div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Concepto</span>
        </h4>
        <h5 class="mb-2 mb-sm-0 pt-1">
            <span>Usuario : @Model.NombreAspNetUsers</span>
            <br />
            <span>Rol : @Model.Rol</span>
        </h5>
    </div>
</div>
<!-- Heading -->
@using (Html.BeginForm("Crear", "Concepto", FormMethod.Post, new { enctype = "multipart/form-data", id = "CrearForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" value="@Model.IdAspNetUsers" id="IdAspNetUsers" name="IdAspNetUsers" />
    <input type="hidden" value="@Model.IdCausa" id="IIdCausa" name="IIdCausa" />
    <input type="hidden" value="@Model.NombreCausa" id="NombreCausa" name="NombreCausa" />
    <input type="hidden" value="" id="RutaExpediente" name="RutaExpediente" />
    <input type="hidden" value="" id="Ruta" name="Ruta" />
    <input type="hidden" value="@Model.Id" id="Id" name="Id" />
    <input type="hidden" value="" id="RutaPdf" name="RutaPdf" />
    <input type="hidden" value="" id="RutaLoa" name="RutaLoa" />
    <input type="hidden" value="" id="RutaCon" name="RutaCon" />
    <input type="hidden" value="" id="rutaload" name="rutaload" />
    <div class="row col-xl-12 d-sm-flex ">
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Motivacion</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Origen </label>
                                    @Html.DropDownList("IdCausa", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                    @Html.ValidationMessageFor(model => model.IdCausa, " ", new { @class = "text-danger col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Id Orfeo </label>
                                    @Html.EditorFor(model => model.IdOrfeo, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.IdOrfeo, "", new { @class = "text-danger  col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Termino en Dias </label>
                                    @Html.EditorFor(model => model.TerminoDias, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.TerminoDias, "", new { @class = "text-danger col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 "> Nombre del Predio </label>
                                    @Html.EditorFor(model => model.NombrePredio, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.NombrePredio, "", new { @class = "text-danger col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Soporte, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextBoxFor(model => model.Soporte, new { type = "file", @class = "form-control col-sm-6" })

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarSoporte" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="  ">
                                    <table class="table table-hover " id="table_Soporte">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.Soporte, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Anexo, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextBoxFor(model => model.Anexo, new { type = "file", @class = "form-control col-sm-6" })
                                    @*<a id="RutaAnexo" target="_blank" href="" style='color: #013ADF;'>@Model.RutaAnexo <i class='fa fa-eye'>  </i></a>
                                        <input type="hidden" id="RutaAnexoH" name="RutaAnexoH" value="@Model.RutaAnexo" />*@
                                </div>
                            </div>
                             <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarAnexo" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Anexo">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.Anexo, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextArea("Observacion", new { @class = "form-control col-sm-6" })
                                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger col-sm-12" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Relacionar Expediente</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Sin Expediente </label>
                                    <input type="checkbox" name="key2" id="key2" value="" class="col-sm-6" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-4"> Expediente </label>
                                    <input type="text" name="IdExpediente" id="IdExpediente" value="" class="form-control col-sm-4" placeholder="B47018900012XXX" />
                                    &nbsp;
                                    <input type="submit" id="BuscarExp" value="Buscar" class="btn-green col-sm-3" />
                                    @Html.ValidationMessageFor(model => model.IdExpediente, "", new { @class = "text-danger  col-sm-12" })

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row text-left">
                                    <label class="control-label col-sm-4"> Expediente : </label>
                                    <label id="NumeroExpedienteT" class="control-label col-sm-8">  </label>

                                    <input type="hidden" name="IdT" id="IdT" value="" />

                                    <label class="control-label col-sm-4"> Depto : </label>
                                    <label id="DepartamentoT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Municipio : </label>
                                    <label id="MunicipioT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Vereda : </label>
                                    <label id="VeredaT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Predio : </label>
                                    <label id="PredioT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Solicitante : </label>
                                    <label id="NombreSolitanteT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Num Identi : </label>
                                    <label id="IdentificaciónT" class="control-label col-sm-8 text-left  ">  </label>


                                </div>
                            </div>
                             <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarExp" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Exp_Aso">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 align-content-center text-center">
                                <a href="#" id="GuardarExpAso" class="btn btn-green "> Relacionar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Relacionar Profesional</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6"> Rol Usuario</label>
                                    @Html.DropDownList("IdRole", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6"> Usuario</label>
                                    @Html.DropDownList("UserAsociado", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12 align-content-center text-center">
                                <a href="#" id="AsociarUser" class="btn btn-green "> Relacionar </a>
                            </div>
                             <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarUser" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Asociados_">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>
                                                    Rol
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.UserAsociado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 align-content-center text-center">
        <input type="submit" value="Solicitar Concepto" class="btn btn-green" />
    </div>

}

@section scripts{
    <script>
$(document).ready(function () {

  var rutaload = @Url.Content("~/Content/");
    $("#rutaload").val(rutaload);
    ///////////////////////////////////////
    ////// Catalogo de causales de conceptos
    $.ajax({
        type: 'POST',
        url: '@Url.Action("ListCausas")', // we are calling json method
        dataType: 'json',
        success: function(states) {
            //   alert("ok_pais");
            $.each(states, function (i, state) {
                if (state.Value == $("#IIdCausa").val()) {
                    $("#IdCausa").append('<option selected value="' + state.Value + '">' + state.Text + '</option>');

                } else {
                    $("#IdCausa").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    }
            });
        },
        error: function (ex) {
            console.log(ex.responseText);
        }
    });

    ///////////////////////////////////////
    ////// Catalogo de roles
    $.ajax({
        type: 'POST',
        url: '@Url.Action("ListRoles")', // we are calling json method
        dataType: 'json',
        success: function(states) {
            //   alert("ok_pais");
            $.each(states, function (i, state) {
                $("#IdRole").append('<option value="' + state.Value + '">' +state.Text + '</option>');
            });
        },
        error: function (ex) {
            console.log(ex.responseText);
        }
    });

    ///////////////////////////////////////
    ////// catalaogo de usuarios dependiente de el combo rol
    $("#IdRole").change(function () {
        $("#UserAsociado").empty();
        //  alert("okdepto" + $("#ID_CT_PAIS").val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ListRolesUsuario")', // we are calling json method
            dataType: 'json',
            data: { Id: $("#IdRole").val() },
                success: function(states) {
                    //alert("okdepto");
                    $.each(states, function (i, state) {
                            $("#UserAsociado").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                    });
                },
            error: function (ex) {
                console.log(ex.responseText);
            }
        });
        return false;
    });

    $.getJSON('@Url.Content("~/Content/ConfigPdfUri.json")', function (data) {

        var UriLo = data.result[0].Uri;
        var UriPdf ="";
        var UriRe = data.result[0].UriRe;

        var pathname = window.location.href;

        if (pathname.indexOf(UriRe) > -1) {
            UriPdf = UriRe;
        } else {
            UriPdf = UriLo;
        }
         $('#RutaCon').val( 'http://'+UriPdf+'/Content/Pdfs/Conceptos/');
         $('#RutaPdf').val( 'http://'+UriPdf+'/Content/Pdfs/');
         $('#RutaLoa').val( 'http://'+UriPdf + '/Content/');
         $('#RutaExpediente').val(UriPdf);
         $('#Ruta').val(UriPdf);


        //if ($("#Id").val() != 0) {
        //    TablaSoporte();
        //    TablaAnexo();
        //    UsuariosAsociados();
        //    ExpedientesAsociados();
        //}
        });

});
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/ScriptConceptos/Validaciones.js")"></script>
}
