@model AspNetIdentity.Models.ConceptoMvcModel


<style>
    .col-sm-12 {
        margin: 1% auto;
    }
</style>
<div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
        <h4 class="mb-2 mb-sm-0 pt-1">
            <span>Concepto</span>
        </h4>
        <h5 class="mb-2 mb-sm-0 pt-1">
            <span>Usuario : @Model.NombreAspNetUsers</span>
            <br />
            <span>Rol : @Model.Rol</span>
            <br />
            <span>Fecha de Creacion : @Model.FechaCreacion</span>

        </h5>
    </div>
</div>
<!-- Heading -->
@using (Html.BeginForm("Crear", "Concepto", FormMethod.Post, new { enctype = "multipart/form-data", id = "CrearForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" value="@Model.IdAspNetUsers" id="IdAspNetUsers" name="IdAspNetUsers" />
    <input type="hidden" value="" id="IdAspNetUsersLogin" name="IdAspNetUsersLogin" />
    <input type="hidden" value="@Model.IdCausa" id="IIdCausa" name="IIdCausa" />
    <input type="hidden" value="@Model.NombreCausa" id="NombreCausa" name="NombreCausa" />
    <input type="hidden" value="@Model.FechaCreacion" id="FechaCreacionConcepto" name="FechaCreacionConcepto" />
    <input type="hidden" value="" id="RutaExpediente" name="RutaExpediente" />
    <input type="hidden" value="" id="Ruta" name="Ruta" />
    <input type="hidden" value="@Model.Id" id="Id" name="Id" />
    <input type="hidden" value="" id="RutaPdf" name="RutaPdf" />
    <input type="hidden" value="" id="RutaLoa" name="RutaLoa" />
    <input type="hidden" value="" id="RutaCon" name="RutaCon" />
    <input type="hidden" value="" id="rutaload" name="rutaload" />
    <div class="row col-xl-12 d-sm-flex ">
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Motivacion</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Origen </label>
                                    @Html.DropDownList("IdCausa", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                    @Html.ValidationMessageFor(model => model.IdCausa, " ", new { @class = "text-danger col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Id Orfeo </label>
                                    @Html.EditorFor(model => model.IdOrfeo, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.IdOrfeo, "", new { @class = "text-danger  col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Termino en Dias </label>
                                    @Html.EditorFor(model => model.TerminoDias, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.TerminoDias, "", new { @class = "text-danger col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 "> Nombre del Predio </label>
                                    @Html.EditorFor(model => model.NombrePredio, new { htmlAttributes = new { @class = "form-control col-sm-6", @value = Model.IdOrfeo } })
                                    @Html.ValidationMessageFor(model => model.NombrePredio, "", new { @class = "text-danger col-sm-12" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Soporte, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextBoxFor(model => model.Soporte, new { type = "file", @class = "form-control col-sm-6" })

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarSoporte" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="  ">
                                    <table class="table table-hover " id="table_Soporte">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.Soporte, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Anexo, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextBoxFor(model => model.Anexo, new { type = "file", @class = "form-control col-sm-6" })
                                    @*<a id="RutaAnexo" target="_blank" href="" style='color: #013ADF;'>@Model.RutaAnexo <i class='fa fa-eye'>  </i></a>
                                        <input type="hidden" id="RutaAnexoH" name="RutaAnexoH" value="@Model.RutaAnexo" />*@
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarAnexo" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Anexo">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.Anexo, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-sm-6" })
                                    @Html.TextArea("Observacion", new { @class = "form-control col-sm-6" })
                                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger col-sm-12" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Relacionar Expediente</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6 ">Sin Expediente </label>
                                    <input type="checkbox" name="key2" id="key2" value="" class="col-sm-6" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-4"> Expediente </label>
                                    <input type="text" name="IdExpediente" id="IdExpediente" value="" class="form-control col-sm-4" placeholder="B47018900012XXX" />
                                    &nbsp;
                                    <input type="submit" id="BuscarExp" value="Buscar" class="btn-green col-sm-3" />
                                    @Html.ValidationMessageFor(model => model.IdExpediente, "", new { @class = "text-danger  col-sm-12" })

                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row text-left">
                                    <label class="control-label col-sm-4"> Expediente : </label>
                                    <label id="NumeroExpedienteT" class="control-label col-sm-8">  </label>

                                    <input type="hidden" name="IdT" id="IdT" value="" />

                                    <label class="control-label col-sm-4"> Depto : </label>
                                    <label id="DepartamentoT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Municipio : </label>
                                    <label id="MunicipioT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Vereda : </label>
                                    <label id="VeredaT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Predio : </label>
                                    <label id="PredioT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Solicitante : </label>
                                    <label id="NombreSolitanteT" class="control-label col-sm-8">  </label>

                                    <label class="control-label col-sm-4"> Num Identi : </label>
                                    <label id="IdentificaciónT" class="control-label col-sm-8 text-left  ">  </label>


                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarExp" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Exp_Aso">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-sm-12 align-content-center text-center">
                                <a href="#" id="GuardarExpAso" class="btn btn-green "> Relacionar </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 ">
            <div class="card  ">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <h5>Relacionar Profesional</h5>
                            </div>
                            <br />
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6"> Rol Usuario</label>
                                    @Html.DropDownList("IdRole", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <label class="control-label col-sm-6"> Usuario</label>
                                    @Html.DropDownList("UserAsociado", new SelectList(string.Empty, "Value", "Text"), "Seleccione", new { @class = "form-control col-sm-6" })
                                </div>
                            </div>
                            <div class="col-sm-12 align-content-center text-center">
                                <a href="#" id="AsociarUser" class="btn btn-green "> Relacionar </a>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12 ">
                                        <div class="progress  ">
                                            <div id="BarUser" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class=" ">
                                    <table class="table table-hover " id="table_Asociados_" name = "table_Asociados_">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Id
                                                </th>
                                                <th>

                                                </th>
                                                <th>
                                                    Rol
                                                </th>
                                                <th>
                                                    Nombre
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                @Html.ValidationMessageFor(model => model.UserAsociado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 align-content-center text-center">
        <input type="submit" value="Solicitar Concepto" class="btn btn-green" />
    </div>

}
@using (Html.BeginForm("CrearGestion", "Concepto", FormMethod.Post, new { enctype = "multipart/form-data", id = "CrearGestionForm" }))
{
    <div class="row col-xl-12 d-sm-flex">
        <div class="col-xl-4">
            <div class="card  ">
                <div class="card-body">
                    <input type="hidden"  name="Id"                     value="0"                           id="Id"  />
                    <input type="hidden"  name="IdConcepto"             value="@Model.Id"                   id="IdConcepto"  />
                    <input type="hidden"  name="NombreIdEstado"         value="N_A"                         id="NombreIdEstado"  />
                    <input type="hidden"  name="NombreIdSoporte"        value="N_A"                         id="NombreIdSoporte"  />
                    <input type="hidden"  name="RolGestion"             value="@Model.NombreCausa"          id="RolGestion"  />
                    <input type="hidden"  name="RolConcepto"            value="@Model.Rol"                  id="RolConcepto"  />
                    <input type="hidden"  name="IdAspNetUserGestion"    value="@Model.UserAsociado"         id="IdAspNetUserGestion"  />
                    <input type="hidden"  name="IdAspNetUserConcepto"   value="@Model.IdAspNetUsers"        id="IdAspNetUserConcepto"  />
                    <input type="hidden"  name="NombreAspNetUsers"      value="@Model.NombreAspNetUsers"    id="NombreAspNetUsers"  />
                    <dir id="RutasAnexo" ></dir>
                    <dir id="RutasSoporte" ></dir>

                    <div class="col-sm-12">
                        <h5>Gestion</h5>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="control-label col-sm-6"> Actualizar Estado </label>
                            <select class="form-control col-sm-6" id="IdEstado" name="IdEstado">
                                <option>Seleccione</option>
                            </select>
                            <span class="field-validation-valid text-danger col-sm-12" data-valmsg-for="IdEstado" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="control-label col-sm-6"> Soporte </label>
                            <select class="form-control col-sm-6" id="IdSoporte" name="IdSoporte">
                                <option>Seleccione</option>
                            </select>
                            <span class="field-validation-valid text-danger col-sm-12" data-valmsg-for="IdSoporte" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="row">
                            <input type="file" name="Archivo" class="form-control col-sm-12">
                            <span class="field-validation-valid text-danger col-sm-12" data-valmsg-for="Archivo" data-valmsg-replace="true"></span>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="progress  ">
                                    <div id="BarGestion" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="row">
                            <label class="control-label col-sm-12" for="GestionObservacion">Observaciones</label>
                            <textarea class="form-control col-sm-12" cols="20" id="GestionObservacion" name="GestionObservacion" rows="4" ></textarea>
                            <span class="field-validation-valid text-danger col-sm-12" data-valmsg-for="GestionObservacion" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                    <br />
                    <div class="col-sm-12 align-content-center text-center">
                        <a href="#" id="GuardarGestion" class="btn btn-green "> Guardar </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card  ">
                <div class="card-body">
                    <div class="col-sm-12">
                        <h5>Resumen de Gestion</h5>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class=" ">
                            <table class="table table-hover " id="table_Gestion">
                                <thead>
                                    <tr>
                                        <th>
                                            Id
                                        </th>
                                        <th>
                                            Fecha
                                        </th>
                                        <th>
                                            Estado
                                        </th>
                                        <th>
                                            Soporte
                                        </th>
                                        <th>
                                            Rol
                                        </th>
                                        <th>
                                            Nombre
                                        </th>
                                        <th>
                                            Observacion
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts{

    <script>
        $(document).ready(function () {

            var users = '@Model.IdAspNetUsers';
            var res = users.split("|");

            $('#IdAspNetUsers').val(res[0]);
            $('#IdAspNetUsersLogin').val(res[1]);
            

            
            //if ('@Model.UserAsociado' != '@Model.IdAspNetUsers' ) {
                $("#CrearForm input[type='submit'] ").hide();
                $("#CrearForm input").prop("disabled", true);
                $("#CrearForm a").hide();
                $("#CrearForm select").prop("disabled", true);
                $("#CrearForm textarea").prop("disabled", true);
                $(".CrearForm").hide();
                $("#RutasSoporte").hide();
                $("#RutasAnexo").hide();
               
           // }

            var rutaload = @Url.Content("~/Content/");
            $("#rutaload").val(rutaload);

            ///////////////////////////////////////
            ////// CATALOGOS

                ///////////////////////////////////////
                ////// CONCEPTOS

                    ///////////////////////////////////////
                    ////// Catalogo de causales de conceptos
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ListCausas")', // we are calling json method
                            dataType: 'json',
                            success: function(states) {
                                //   alert("ok_pais");
                                $.each(states, function (i, state) {
                                    if (state.Value == $("#IIdCausa").val()) {
                                        $("#IdCausa").append('<option selected value="' + state.Value + '">' + state.Text + '</option>');

                                    } else {
                                        $("#IdCausa").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                                        }
                                });
                            },
                            error: function (ex) {
                                console.log(ex.responseText);
                            }
                        });

                    ///////////////////////////////////////
                    ////// Catalogo de roles
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ListRoles")', // we are calling json method
                            dataType: 'json',
                            success: function(states) {
                                //   alert("ok_pais");
                                $.each(states, function (i, state) {
                                    $("#IdRole").append('<option value="' + state.Value + '">' +state.Text + '</option>');
                                });
                            },
                            error: function (ex) {
                                console.log(ex.responseText);
                            }
                        });

                    ///////////////////////////////////////
                    ////// catalaogo de usuarios dependiente de el combo rol
                        $("#IdRole").change(function () {
                            $("#UserAsociado").empty();
                            //  alert("okdepto" + $("#ID_CT_PAIS").val());
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("ListRolesUsuario")', // we are calling json method
                                dataType: 'json',
                                data: { Id: $("#IdRole").val() },
                                    success: function(states) {
                                        //alert("okdepto");
                                        $.each(states, function (i, state) {
                                                $("#UserAsociado").append('<option value="' + state.Value + '">' + state.Text + '</option>');
                                        });
                                    },
                                error: function (ex) {
                                    console.log(ex.responseText);
                                }
                            });
                            return false;
                        });

                ///////////////////////////////////////
                ////// GESTION

                    ///////////////////////////////////////
                    ////// Catalogo de estados
                        $.ajax({
                            type: 'POST',
                            url: 'ListGestionEstado', // we are calling json method
                            dataType: 'json',
                            success: function(states) {
                                //   alert("ok_pais");
                                var NombreEstado = ""; 
                                var RolConcepto =  $("#RolConcepto").val().trim();
                                var RolGestion = $("#RolGestion").val().trim();

                                $.each(states, function (i, state) {

                                    if (state.IdRol.trim() == RolGestion.trim() ) {
                                        
                                        if ($('#IdAspNetUserGestion').val().trim() == $('#IdAspNetUserConcepto').val().trim())
                                        {
                                            if ((state.Nombre != 'Solicitud')) {
                                                $("#IdEstado").append('<option   value="' + state.Id + '">' + state.Nombre + '</option>');
                                            }
                                            
                                        }else {
                                            if (state.Nombre != 'Finalizado'){
                                            $("#IdEstado").append('<option   value="' + state.Id + '">' + state.Nombre + '</option>');
                                        }
                                        }

                                    }

                                });
                            },
                            error: function (ex) {
                                console.log(ex.responseText);
                            }
                        });

                    ///////////////////////////////////////
                    ////// Catalogo de soporte
                        $.ajax({
                            type: 'POST',
                            url: 'ListGestionSoporte', // we are calling json method
                            dataType: 'json',
                            success: function(states) {
                                //   alert("ok_pais");
                                var NombreEstado = ""; 

                                $.each(states, function (i, state) {
                                        $("#IdSoporte").append('<option   value="' + state.Id + '">' + state.Nombre + '</option>');
                                });
                            },
                            error: function (ex) {
                                console.log(ex.responseText);
                            }
                        });

            $.getJSON('@Url.Content("~/Content/ConfigPdfUri.json")', function (data) {

                var UriLo = data.result[0].Uri;
                var UriPdf ="";
                var UriRe = data.result[0].UriRe;

                var pathname = window.location.href;

                if (pathname.indexOf(UriRe) > -1) {
                    UriPdf = UriRe;
                } else {
                    UriPdf = UriLo;
                }

                 $('#RutaCon').val( 'http://'+UriPdf+'/Content/Pdfs/Conceptos/');
                 $('#RutaPdf').val( 'http://'+UriPdf+'/Content/Pdfs/');
                 $('#RutaLoa').val( 'http://'+UriPdf + '/Content/');
                 $('#RutaExpediente').val(UriPdf);
                 $('#Ruta').val(UriPdf);


            });

        });
    </script>
    <script type="text/javascript" src="@Url.Content("/Scripts/ScriptConceptos/Validaciones.js")"></script>

}
