@model IEnumerable<AspNetIdentity.Models.ResumenTipificacionVistaModel>

<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">CARACTERIZACION JURIDICA  </h3>
        <div id="info"></div>
    </div>

</div>


<div class="row">
    <div class="col-md-8">
        <!-- Card -->
        <div class="card">
            <div class="card-header"> <div id="CT" >  </div > </div>
            <div class="card-body">
                <div class="form-horizontal">
                    <div class="row  justify-content-center">
                        <div class="form-group col-md-12">
                            <div class="table-responsive text-nowrap">
                                
                                <table id="table_id" class="table center" cellspacing="0" width="100%">
                                    <thead class="green white-text title">
                                        <tr>
                                            <th>
                                                <div class="row">
                                                    <div class="col-md-6">@Html.DisplayNameFor(model => model.Grupo) </div>
                                                    <div class="col-md-6"> @Html.DisplayNameFor(model => model.Total)</div>
                                                </div>
                                                
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="bg-light">
                                                <td>
                                                    <div class="row">
                                                        <div class="col-md-6">@item.Grupo </div>
                                                        <div class="col-md-6">@item.Total </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @if (@item.Grupo == "RESOLUCION")
                                                    { 
                                                     
                                                        <input type="text" 
                                                        name="@item.Grupo" 
                                                        id="@item.Grupo" 
                                                        class ="IGrupo" 
                                                        value="@item.IdDepto"
                                                        value2="@item.IdMunicipio"
                                                        value3="@item.Grupo" style = 'display : none' />
                                                        <div id='TRESOLUCION' class="TypeTable">
                                                            <table id="IdRESOLUCION" class="table-striped table-hover center" cellspacing="0" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Datos Solicitantes</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Fecha</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    }
                                                    @if (@item.Grupo == "CONSTANCIA DE EJECUTORIA")
                                                    {
                                                        <input type="text" 
                                                        name="@item.Grupo" 
                                                        id="@item.Grupo" 
                                                        class ="IGrupo" 
                                                        value="@item.IdDepto"
                                                        value2="@item.IdMunicipio"
                                                        value3="@item.Grupo" style = 'display : none' />
                                                        <div id='TCONSTANCIA_DE_EJECUTORIA' class="TypeTable">
                                                            <table id="IdCONSTANCIA_DE_EJECUTORIA" class="table-striped table-hover center" cellspacing="0" width="100%">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Borrosos</th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Fecha</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Borrosos</th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Fecha</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    }
                                                    @if (@item.Grupo == "RECURSOS")
                                                    {
                                                        <input type="text" 
                                                        name="@item.Grupo" 
                                                        id="@item.Grupo" 
                                                        class ="IGrupo" 
                                                        value="@item.IdDepto"
                                                        value2="@item.IdMunicipio"
                                                        value3="@item.Grupo" style = 'display : none' />
                                                        <div id='TRECURSOS' class="TypeTable">
                                                            <table id="IdRECURSOS" class="table-striped table-hover center" cellspacing="0" width="100%">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th> Sin Respuesta</th>
                                                                        <th>No Precede</th>
                                                                        <th>Adjudica</th>
                                                                        <th>Niega</th>
                                                                        <th>Pruebas</th>
                                                                        <th>Revoca</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th> Sin Respuesta</th>
                                                                        <th>No Precede</th>
                                                                        <th>Adjudica</th>
                                                                        <th>Niega</th>
                                                                        <th>Pruebas</th>
                                                                        <th>Revoca</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    }

                                                    @if (@item.Grupo == "NOTIFICACIONES")
                                                    {
                                                        <input type="text" 
                                                        name="@item.Grupo" 
                                                        id="@item.Grupo" 
                                                        class ="IGrupo" 
                                                        value="@item.IdDepto"
                                                        value2="@item.IdMunicipio"
                                                        value3="@item.Grupo" style = 'display : none' />
                                                        <div id="TNOTIFICACIONES">
                                                            <table id="IdNOTIFICACIONES" class="table-striped table-hover center" cellspacing="0" width="100%">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th>Sub Grupo </th>
                                                                        <th>
                                                                            Cantidad
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot class="">
                                                                    <tr>
                                                                        <th>Sub Total</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    }
                                                    @if (@item.Grupo == "INSPECCION OCULAR")
                                                    {
                                                        <input type="text" 
                                                        name="@item.Grupo" 
                                                        id="@item.Grupo" 
                                                        class ="IGrupo" 
                                                        value="@item.IdDepto"
                                                        value2="@item.IdMunicipio"
                                                        value3="@item.Grupo" style = 'display : none' />
                                                        <div id='TINSPECCION_OCULAR' class="TypeTable">
                                                            <table id="IdINSPECCION_OCULAR" class="table-striped table-hover center" cellspacing="0" width="100%">
                                                                <thead class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Fecha</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                                <tfoot class="">
                                                                    <tr>
                                                                        <th> </th>
                                                                        <th>Sin Firma</th>
                                                                        <th>Error de Fecha</th>
                                                                        <th>Firmados</th>
                                                                        <th>SubTotal</th>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>


@section Scripts
{
    @Scripts.Render("~/Scripts/ModalControl.js")

    <script type="text/javascript">
        $(document).ready(function () {
            
            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

            // Table NOTIFICACIONES
            var TNOTIFICACIONES = $('#IdNOTIFICACIONES').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,
                "searching": false,
                "info": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var monTotal = api
                        .column(1 ,  { page: 'current'})
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);


                    $( api.column(1).footer() ).html(monTotal);

                }
            });  //Initialize the datatable

            // Table RECURSOS
            var TRECURSOS = $('#IdRECURSOS').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,
                "ordering": false,
                "searching": false,
                "info": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var monTotal1 = api
                    .column(1 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal2 = api
                    .column(2 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal3 = api
                    .column(3 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal4 = api
                    .column(4,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal5 = api
                    .column(5,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal6 = api
                    .column(6 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal7 = api
                    .column(7 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    $( api.column(1).footer() ).html(monTotal1);
                    $( api.column(2).footer() ).html(monTotal2);
                    $( api.column(3).footer() ).html(monTotal3);
                    $( api.column(4).footer() ).html(monTotal4);
                    $( api.column(5).footer() ).html(monTotal5);
                    $( api.column(6).footer() ).html(monTotal6);
                    $( api.column(7).footer() ).html(monTotal7);

                }
            });  //Initialize the datatable

            // Table CONSTANCIA DE EJECUTORIA
            var TCONSTANCIA_DE_EJECUTORIA = $('#IdCONSTANCIA_DE_EJECUTORIA').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,"ordering": false,
                "searching": false,
                "info": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var monTotal1 = api
                    .column(1 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal2 = api
                    .column(2 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal3 = api
                    .column(3 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal4 = api
                    .column(4,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                    $( api.column(1).footer() ).html(monTotal1);
                    $( api.column(2).footer() ).html(monTotal2);
                    $( api.column(3).footer() ).html(monTotal3);
                    $( api.column(4).footer() ).html(monTotal4);

                }
            });  //Initialize the datatable

            // Table RESOLUCION
            var TRESOLUCION = $('#IdRESOLUCION').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,"ordering": false,
                "searching": false,
                "info": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var monTotal1 = api
                    .column(1 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal2 = api
                    .column(2 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal3 = api
                    .column(3 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                   
                    $( api.column(1).footer() ).html(monTotal1);
                    $( api.column(2).footer() ).html(monTotal2);
                    $( api.column(3).footer() ).html(monTotal3);

                }
            });  //Initialize the datatable

             // Table INSPECCION OCULAR
            var TINSPECCION_OCULAR = $('#IdINSPECCION_OCULAR').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,"ordering": false,
                "searching": false,
                "info": false,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };
                    var monTotal1 = api
                    .column(1 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal2 = api
                    .column(2 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    var monTotal3 = api
                    .column(3 ,  { page: 'current'})
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);
                    $( api.column(1).footer() ).html(monTotal1);
                    $( api.column(2).footer() ).html(monTotal2);
                    $( api.column(3).footer() ).html(monTotal3);

                }
            });  //Initialize the datatable


            //Table Index 
            $('#table_id').dataTable({
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "paging": false,
                "searching": false,
                "ordering": false,
                dom: "B<'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'<'#colvis'>p>>",
                buttons: [
                    { "extend": 'pdf', "text":'Pdf',"className": 'btn-outline-success' },
                    { "extend": 'excel', "text":'Exc',"className": ' btn-outline-success ' },
                    { "extend": 'print', "text":'Imp',"className": ' btn-outline-success ' }
                ]
            });  //Initialize the datatable

            var TableIndex = $('#table_id').DataTable();
            $('#table_id tbody').on('click', 'z1', function () {
                var data = TableIndex.row($(this).parents('tr')).data();
            });

            $(".IGrupo").each(function(){
                var Tipo =  $(this).attr("value3");
                console.log(Tipo);
                if (Tipo == "NOTIFICACIONES") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ResumenListaDetalle")',
                        dataType: 'json',
                        data: { IdDeptoIn: $(this).attr("value"), IdCiudadIn: $(this).attr("value2") , GrupoIn: $(this).attr("value3")  },
                        success: function (states) {

                            TNOTIFICACIONES.fnClearTable();
                            if (Tipo == "NOTIFICACIONES") {
                                $('#CT').html("Cargando NOTIFICACIONES por favor espere ... ");
                                $.each(states, function (i, obj) {
                                    TNOTIFICACIONES.fnAddData([
                                        obj.RECURSO_SOLICITANTE_NUMERO_90,
                                        obj.Orden,
                                    ]);
                                });
                            }
                            alert('1');
                        },
                        error: function (ex) {
                            console.log(ex.responseText);
                        }
                    });
                }else
                if (Tipo == "RESOLUCION") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ResumenListaDetalle")',
                        dataType: 'json',
                        data: { IdDeptoIn: $(this).attr("value"), IdCiudadIn: $(this).attr("value2") , GrupoIn: $(this).attr("value3")  },
                        success: function (states) {

                            TRESOLUCION.fnClearTable();
                            if (Tipo== "RESOLUCION") {
                                $('#CT').html("Cargando RESOLUCION por favor espere ... ");
                                $.each(states, function (i, obj) {

                                    var RECURSO_SOLICITANTE_ACTO_89 = 0 ;
                                    var RECURSO_SOLICITANTE_VISIBLE = 0 ;
                                    var IdMunicipio = 0 ;
                                    var CONSTANCIA_DE_EJECUTORIA_VISIBLE = 0 ;

                                    RECURSO_SOLICITANTE_ACTO_89 = obj.RECURSO_SOLICITANTE_ACTO_89 ;
                                    if (RECURSO_SOLICITANTE_ACTO_89 == null) RECURSO_SOLICITANTE_ACTO_89 = 0;  
                                    RECURSO_SOLICITANTE_VISIBLE = obj.RECURSO_SOLICITANTE_VISIBLE ;
                                    if (RECURSO_SOLICITANTE_VISIBLE == null) RECURSO_SOLICITANTE_VISIBLE = 0;  
                                    IdMunicipio = obj.IdMunicipio ;
                                    if (IdMunicipio == null) IdMunicipio = 0;  
                                    CONSTANCIA_DE_EJECUTORIA_VISIBLE = obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE ;
                                    if (CONSTANCIA_DE_EJECUTORIA_VISIBLE == null) CONSTANCIA_DE_EJECUTORIA_VISIBLE = 0;  

                                    var Subtotal = 
                                    RECURSO_SOLICITANTE_ACTO_89+
                                    RECURSO_SOLICITANTE_VISIBLE+
                                    IdMunicipio+
                                    CONSTANCIA_DE_EJECUTORIA_VISIBLE;


                                   

                                    var TipoResolucion = "";
                                    if(obj.INSPECCION_OCULAR_VISIBLE == "7"){
                                        TipoResolucion = 'Resolucion de Adjudicacion';
                                    }else if(obj.INSPECCION_OCULAR_VISIBLE == "1") {
                                        TipoResolucion = 'Borrosos';
                                        obj.RECURSO_SOLICITANTE_ACTO_89 = "0";
                                        obj.RECURSO_SOLICITANTE_VISIBLE = "0";
                                        obj.IdMunicipio = "0";
                                        obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE= "0";
                                    }else if(obj.INSPECCION_OCULAR_VISIBLE == "8") {
                                        TipoResolucion = 'Resolucion de Negacion';
                                    }

                                    TRESOLUCION.fnAddData([
                                        TipoResolucion + " - " +obj.Gestion,
                                        obj.RECURSO_SOLICITANTE_ACTO_89,
                                        obj.RECURSO_SOLICITANTE_VISIBLE,
                                        obj.IdMunicipio,
                                        obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE,
                                        Subtotal,
                                    ]);

                                });
                            }
                            alert('2');
                        },
                        error: function (ex) {
                            console.log(ex.responseText);
                        }
                    });
                } else
                if (Tipo == "CONSTANCIA DE EJECUTORIA") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ResumenListaDetalle")',
                        dataType: 'json',
                        data: { IdDeptoIn: $(this).attr("value"), IdCiudadIn: $(this).attr("value2") , GrupoIn: $(this).attr("value3")  },
                        success: function (states) {

                            TCONSTANCIA_DE_EJECUTORIA.fnClearTable();
                            if (Tipo == "CONSTANCIA DE EJECUTORIA") {
                                $('#CT').html("Cargando CONSTANCIA DE EJECUTORIA por favor espere ... ");
                                $.each(states, function (i, obj) {
                                    
                                    var Subtotal = obj.Orden + obj.RECURSO_SOLICITANTE_ACTO_89 + obj.RECURSO_SOLICITANTE_VISIBLE + obj.IdMunicipio + obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE + obj.SOLICITUD_VISIBLE ;

                                    var TipoResolucion = "";
                                    if(obj.INSPECCION_OCULAR_VISIBLE == "7"){
                                        TipoResolucion = 'Resolucion de Adjudicacion';
                                        
                                    }else{
                                        TipoResolucion = 'Resolucion de Negacion';
                                    }
                                    TCONSTANCIA_DE_EJECUTORIA.fnAddData([
                                        TipoResolucion + " - " +obj.Gestion,
                                        obj.Orden,
                                        obj.RECURSO_SOLICITANTE_ACTO_89,
                                        obj.RECURSO_SOLICITANTE_VISIBLE,
                                        obj.IdMunicipio,
                                        obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE,
                                        Subtotal,
                                    ]);

                                });
                            }
                            alert('3');
                        },
                        error: function (ex) {
                            console.log(ex.responseText);
                        }
                    });
                }
                if (Tipo == "RECURSOS") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ResumenListaDetalle")',
                        dataType: 'json',
                        data: { IdDeptoIn: $(this).attr("value"), IdCiudadIn: $(this).attr("value2") , GrupoIn: $(this).attr("value3")  },
                        success: function (states) {

                        TRECURSOS.fnClearTable();
                        if (Tipo == "RECURSOS") {
                            $('#CT').html("Cargando RECURSOS por favor espere ... ");
                            $.each(states, function (i, obj) {
                                
                                var Subtotal = obj.Orden + obj.RECURSO_SOLICITANTE_ACTO_89 + obj.RECURSO_SOLICITANTE_VISIBLE + obj.IdMunicipio + obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE + obj.SOLICITUD_VISIBLE ;

                                var TipoResolucion = "";
                                if(obj.INSPECCION_OCULAR_VISIBLE == "7"){
                                    TipoResolucion = 'Resolucion de Adjudicacion';
                                    
                                }else{
                                    TipoResolucion = 'Resolucion de Negacion';
                                }
                                TRECURSOS.fnAddData([
                                    TipoResolucion,
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                    '',
                                ]);

                                TRECURSOS.fnAddData([
                                    obj.RECURSO_SOLICITANTE_NUMERO_90,
                                    obj.Orden,
                                    obj.RECURSO_SOLICITANTE_ACTO_89,
                                    obj.RECURSO_SOLICITANTE_VISIBLE,
                                    obj.IdMunicipio,
                                    obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE,
                                    obj.SOLICITUD_VISIBLE,
                                    Subtotal,
                                ]);

                            });
                        }
                            alert('4');
                        },
                        error: function (ex) {
                            console.log(ex.responseText);
                        }
                    });
                }
                if (Tipo == "INSPECCION OCULAR") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ResumenListaDetalle")',
                        dataType: 'json',
                        data: { IdDeptoIn: $(this).attr("value"), IdCiudadIn: $(this).attr("value2") , GrupoIn: $(this).attr("value3")  },
                        success: function (states) {

                        TINSPECCION_OCULAR.fnClearTable();
                        if (Tipo == "INSPECCION OCULAR") {
                            $('#CT').html("Cargando INSPECCION OCULAR por favor espere ... ");
                            $.each(states, function (i, obj) {
                                
                                var Subtotal = obj.Orden + obj.RECURSO_SOLICITANTE_ACTO_89 + obj.RECURSO_SOLICITANTE_VISIBLE + obj.IdMunicipio + obj.CONSTANCIA_DE_EJECUTORIA_VISIBLE + obj.SOLICITUD_VISIBLE ;

                                var TipoResolucion = "";
                                if(obj.INSPECCION_OCULAR_VISIBLE == "1"){
                                    TipoResolucion = 'Adjudicacion';
                                    
                                }else if(obj.INSPECCION_OCULAR_VISIBLE == "2"){
                                    TipoResolucion = 'Niega';
                                }else if(obj.INSPECCION_OCULAR_VISIBLE == "34"){
                                    TipoResolucion = 'No Concluye';
                                }

                                 console.log('========================');
                                 console.log(obj.INSPECCION_OCULAR_VISIBLE);
                                 console.log(obj.RECURSO_SOLICITANTE_ACTO_89);
                                    console.log(obj.RECURSO_SOLICITANTE_VISIBLE);
                                    console.log(TipoResolucion);
                                    console.log(obj.IdMunicipio);
                                

                                TINSPECCION_OCULAR.fnAddData([
                                    TipoResolucion+ ' - ' + obj.Gestion,
                                    obj.RECURSO_SOLICITANTE_ACTO_89,
                                    obj.RECURSO_SOLICITANTE_VISIBLE,
                                    obj.IdMunicipio,
                                    Subtotal,
                                ]);

                            });
                        }
                            alert('5');
                        },
                        error: function (ex) {
                            console.log(ex.responseText);
                        }
                    });
                }
        	});

            
            
        });
    </script>

}