@model IEnumerable<AspNetIdentity.Models.BaldiosPersonaNaturalModel>
@{
    ViewBag.Title = "Index";
}
@section Scripts
             {
    @Scripts.Render("~/Scripts/ModalControl.js")

        <script type="text/javascript">
        $(document).ready(function () {

            $(".BuscarArchivo").click(function () {
                $('#content').html('<div class="loading"><img src="http://localhost:50213/Content/loader.gif" alt="loading" /></div>');
 
                $.ajax({
                type: 'POST',
                url: '@Url.Action("BuscaArchivos")',
                dataType: 'json',
                data: { IdTable : 1 },
                success: function(states) {
                     $('#content').hide();
                    alert(' Fin ');
                },
                error: function (ex) {
                    console.log(ex.responseText);
                }
                });
            });

            $('#table_idd').dataTable({
                 dom: "B<'row'<'col-sm-6'l><'col-sm-6'f>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'i><'col-sm-7'<'#colvis'>p>>",
                buttons: [
                   { "extend": 'pdf', "text":'Pdf',"className": 'btn-outline-success' },
                    { "extend": 'excel', "text":'Exc',"className": ' btn-outline-success ' },
                    { "extend": 'print', "text":'Imp',"className": ' btn-outline-success ' }
                ],
                "order": [[6, "asc"]],
                "language": { "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json" },
                "pageLength": 10,
                "paging": true
            });  //Initialize the datatable

        console.log("ready!");
    });
        </script>



}
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">
        <h3 class="card-title">Expedientes Asociados </h3>
        <p class="card-text"> <div id="content"></div> <a href="#" class="BuscarArchivo">Buscar Archivo</a></p>
    </div>

</div>
<div class="row wow fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">  </div>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-hover " id="table_idd">
                        <thead>
                            <tr>
                                <th>
                                    Num. Expediente
                                </th>
                                <th>
                                    Depto
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdCiudad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Vereda)
                                </th>

                                <th>
                                    Nom. Solicitante
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Identificacion)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.EstadoCaracterizacion)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroExpediente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreIdDepto)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreIdCiudad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vereda)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreBeneficiario)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Identificacion)
                                    </td>

                                    <td>
                                        @item.EstadoCaracterizacion
                                    </td>

                                    <td>
                                        <a href='@Url.Action("../BaldiosPersonaNatural/Edit", "Edit", new { IdTable = item.id })' title='Modificar' style='color: #013ADF;'><i class='fa fa-refresh' aria-hidden='true'></i></a>
                                        @*<a href="#" onclick="EjecutarModalSlim ('@item.id','BaldiosPersonaNatural','Edit','MODIFICAR CIUDAD'); return false;" title="Modificar" style="color: #013ADF;"><i class="fa fa-refresh" aria-hidden="true"></i></a> |*@
                                        <a href="#" onclick="EjecutarModalSlim ('@item.id','BaldiosPersonaNatural','Details','Detalle Expedientes'); return false;" title="Detalle" style="color: #013ADF;"><i class="fa fa-search" aria-hidden="true"></i> </a> 
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

