@model AspNetIdentity.Models.CaracterizacionSolicitanteModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>CaracterizacionSolicitanteModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IdExpediente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdExpediente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroExpediente)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroExpediente)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoDocumento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreTipoDocumento)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreTipoDocumento)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroIdentificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroIdentificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TipoDocumentoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TipoDocumentoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombreTipoDocumentoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombreTipoDocumentoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NumeroIdentificacionConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NumeroIdentificacionConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VFechaSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VFechaSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VArchivoSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VArchivoSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VFechaConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VFechaConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VArchivoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VArchivoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PFechaSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PFechaSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PArchivoSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PArchivoSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PFechaConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PFechaConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PArchivoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PArchivoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CFechaSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CFechaSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CArchivoSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CArchivoSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CFechaConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CFechaConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CArchivoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CArchivoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AFechaSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AFechaSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AArchivoSolicitante)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AArchivoSolicitante)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AFechaConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AFechaConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AArchivoConyuge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AArchivoConyuge)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gestion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gestion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IdAspNetUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IdAspNetUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NombretUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NombretUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RolUser)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RolUser)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FechaModificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FModificacionExp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FModificacionExp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VFModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VFModificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PFModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PFModificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CFModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CFModificacion)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AFModificacion)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AFModificacion)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
