@model IEnumerable<AspNetIdentity.Models.CtCiudadPaolaModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCtDepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreIdCtDepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCtPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreIdCtPais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCtDepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIdCtDepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCtPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIdCtPais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
